body{margin:0; padding: 0; font-family: 'Open Sans', sans-serif, arial; font-size: 14px; background: lightskyblue; overflow: hidden;}
*{font-family: 'Open Sans', sans-serif, arial; font-size: 14px; color:#555; }
.main{max-width:1024px; width:100%; margin:auto;}
.header{background: #3B5898}
.header h1{max-width:1024px; width:100%; margin:0 auto; padding:10px 0; font-size: 20px; color: #fff; text-align: center; font-weight: 300}
.userscreen{margin: auto; text-align: center; margin-top: 24%}
.input-user {
    font-size: 20px; padding: 15px; font-weight: 300;
    background-color: #9ACD32;
}
.input-user:focus,
.input-user.focus {
  border: solid 2px #726da5;
}
.btn {
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Open Sans', sans-serif, arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
}
.btn-user{padding:9px 30px; position: relative; top: 0; font-size: 16px; font-weight: 300}

#result{max-width:1024px; width:100%; padding:10px; background: #f1f1f1; max-height: 80%; overflow-y:auto;}

.chatcontrols{position: fixed; bottom: 0; width: 100%}
.chatcontrols form{
    margin: 0
}
#chatbox {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #777;
    border-radius: 2px 2px 2px 2px;
    color: #6C6C6C;
	width: 1040px;
    height: 600px;
    margin-top: 10px;
    outline: medium none;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 300
}
#chatbox:focus{
    background: none repeat scroll 0 0 white;
    border-color: #555;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
    color: #A6A6A6;
 	content:"";
}
.btn-send{font-size: 20px; padding: 15px; font-weight: 300}
.logout{float: right; color: #fff; text-decoration: none; font-size: 15px}
