* {
    box-sizing: border-box!important;
    text-align: center;
    font-family: 'Raleway', sans-serif!important;
}
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, darkseagreen, pink);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 100%;
    height: 80%;
    text-align: center;
    padding-top: 20px;
}
.chessBoard_wrap {
    width: 45vw;
    height: 45vw;
    margin: 0px auto;
    display: block;
    background-color: #fff;
    font-size: 0;
    padding: 1%;
    box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, .4);
}
.BoardRow {
    width: 100%;
    height: 12.5%;
    display: block;
}
.blackBox,
.whiteBox {
    width: 12.5%;
    height: 100%;
    display: inline-block;
    font-size: 0;
}
.blackBox {
    background-color: #291E1C;
}
.whiteBox {
    background-color: #E8E0CD;
}
@media (max-width: 600px) {
    .chessBoard_wrap {
        width: 90vw;
        height: 90vw;
    }
}
